# Supabase
NEXT_PUBLIC_SUPABASE_URL= https://rximceyukpiwhyujhokd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ4aW1jZXl1a3Bpd2h5dWpob2tkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE5MTY2MjYsImV4cCI6MjA4NzQ5MjYyNn0.xkJqTe6P1dA609m1qlMde3SJCGSaOnZDIC5nldBqsmg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ4aW1jZXl1a3Bpd2h5dWpob2tkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTkxNjYyNiwiZXhwIjoyMDg3NDkyNjI2fQ.bUfCLBNYlVzuCF0vkpg7PAoFW6FWrqONZDkejY7u0Fc

# Google Drive (Service Account)
GOOGLE_SERVICE_ACCOUNT_EMAIL=etgar.ono@gmail.com
GOOGLE_PRIVATE_KEY=AIzaSyDuKVoujCBMpAnPa1C1b_f-omqFb-_N-Ps
GOOGLE_DRIVE_ROOT_FOLDER_ID=https://drive.google.com/drive/u/1/folders/10pa3S1NrEqrfRQHP-XgC7RAUG_Ovqiif

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
